:channels:
  - '##temp_l0qi_testing'
:log_file: l0qi.log
:nick: temp_l0qi
:plugins:
  :pics:
    :history_max: 5
    :web:
      :addr: 127.0.0.1
      :port: 7654
      :reload_templates: false
      :ws_host: localhost
:report: '##temp_loqi_testing'
:server: chat.freenode.net

# vim: ft=yaml
