<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>L0qi Pics</title>
    <style>
      body { font-size: 10pt; font-family: helvetica, sans-serif; }
      header { font-size: 12pt; }
      .cf:before, .cf:after { content: " "; display: table; } .cf:after { clear: both; }
      .controls { margin: 20px auto; }
        #status { padding: 10px; }
        .ok {  border: 1px solid #0f0; color: #0d0; background-color: #aca; }
        .meh { border: none; color: #999; background-color: #aaa; }
        .bad { border: 1px solid #f00; color: #d00; background-color: #caa; }
      .pic { padding: 5px; }
    </style>
  </head>
  <body>
    <div class="container">
      <header class="cf">
        L0qi Pics - <%= @nick %> listening in <%= @channels %>
      </header>
      <div class="controls cf">
        <span id="status">
        </span>
        <span>
          <label for="connect">connect:</label>
          <input type="checkbox" id="connect" name="connect"/>
        </span>
        <span>
          <form name="kind" style="display:inline;">
            <label for="kind">es:</label>
            <input type="radio" name="kind" value="es"/>
            <label for="kind">ws:</label>
            <input type="radio" name="kind" value="ws"/>
          </form>
        </span>
      </div>
      <div id="pics" class="cf">
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/l0qi.js"></script>
    <script>L0qi.init('<%= @ws_host %>', <%= @use_ws %>);</script>
  </body>
</html>
