<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>L0qi</title>
    <style>
      body { font-size: 10pt; font-family: helvetica, sans-serif; }
      header { font-size: 12pt; }
      .cf:before, .cf:after { content: " "; display: table; } .cf:after { clear: both; }
      #status { padding: 10px; }
      .controls { margin: 20px auto; }
        .controls form { display: inline; }
        .ok {  color: #0d0; }
        .meh { color: #999; }
        .bad { color: #d00; }
      #urls div { margin: 15px; }
      #urls img { cursor: pointer; }
      img.liked { border: 1px solid #0f0; }
    </style>
  </head>
  <body>
    <div class="container">
      <header class="cf">
        L0qi <span id="status"></span>
      </header>
      <div class="controls cf">
        <span>
          <label for="connect">connect:</label>
          <input type="checkbox" id="connect" name="connect"/>
        </span>
        <span>
          <form name="kind">
            <label for="kind">es:</label>
            <input type="radio" name="kind" value="es"/>
            <label for="kind">ws:</label>
            <input type="radio" name="kind" value="ws"/>
          </form>
        </span>
      </div>
      <hr/>
      <div id="urls" class="cf">
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/l0qi.js"></script>
    <script>L0qi.init(<%= @use_ws %>);</script>
  </body>
</html>
